  .row{
    display: flex;
    /* justify-content: space; */
    flex-wrap: wrap;
    border-top: solid 1px #e5e5e5;
   
  }
   .big-img{
    overflow: hidden;
     }
   img{
  margin-top: 3rem;
    height: 300px;
    width: 300px;

   
    object-fit: contain;
   position: relative;
  }
  
  .box{
    background-color: #f5f7ff;
  }
  
  .box .row{
    display: flex;
    justify-content: space-between;
  }
  .box .row h2{
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .box .row span{
    color: crimson;
  }
  .box p{
    line-height: 1.5;
    margin: 15px 0;
    font-size: 12px;
  }
  .productinfo{
    padding-left: 9rem;
    padding-top: 3rem;
  }
  
  .cart{
    background:blue;
    color: white;
    border-radius: 30%;
    cursor: pointer;
    padding: 10px ;
    border: none;
  
  }
  .product-title {
    margin-top: 1.8rem !important;
}

.product-desc {
    background-color: #eff4f8;
    padding-left: 15rem !important;
    padding-right: 6rem !important;
}

.list-space {
    padding-left: 1em;
    font-weight: 300;
    font-size: 14px;
}
@media only screen and (max-width: 434px) {

  .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
   
  }
  .row .box {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;    
    /* order use to change the position of div  */
  }

  .row .big-img{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    
    order: 1;
  }

}
@media only screen and (max-width: 770px) {

  .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
   
  }
  .row .box {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;    
    /* order use to change the position of div  */
    margin-top: 10rem;
  }

  .row .big-img{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  .productinfo{
    padding: 0;
  }
}