.right{
  display: flex;
  margin-left: auto; 
  margin-right: 20%;
  margin-top: 12px;
}
.right2{
  margin-left: 9px;
}
i{
  color: #b2b5bf;
}
.navbar3{
  display: flex;
   border-top:solid 1px rgb(235, 235, 235);
}
.about-product{
  margin-left: 20%;
  margin-top: auto;
  border-bottom: 2px solid #0156FF;
}
.buynow{
  color: aliceblue;
  background-color: #2576fb;
  border: #2576fb;
  
  height: 51px;
  width: 151px;
  cursor: pointer;
  border-radius: 20px ;
  padding: 6px 26px ;
  size: 13px ;
  
}
.example::-webkit-scrollbar {
  display: none;
}
/* .successPopUp{
  position: relative;
  width: 755px;
  height: 442px;
  
  background: #FFFFFF;
  border-radius: 8px;
} */
.success-img{
  position: absolute;
width: 100px;
height: 100px;
left: 328px;
top: 64px;

}
.closebtn{
  position: absolute;
  width: 36px;
  height: 36px;
  left: 699px;
  top: 20px;
  
}
.modal-body-style {
  font-weight: 300;
  font-size: 14px;
}
.purchase-success{

  /* identical to box height, or 125% */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  /* Color - 7 */
  position: absolute;
  width: 567px;
  height: 30px;
  left: 214px;
  top: 196px;
  
  color: #000000;
  
}
.purchase-success1{
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}